@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tr@@$# Co||3ct0r</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web Tr@@$# using junk, stuff, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Tr@@$#3d</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic Tr@@$# that
            enables a questionable separation of concerns and gives you full control over markup
            for enjoyable Tr@@$#.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Tr@@$#</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update Tr@@$# and stuff in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tr@@$# Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and Tr@@$# for your junk.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>